<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Pláticas</h2>
                    <h3 class="section-subheading text-muted">No faltes, van a estar muy interesantes.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Manuel.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>IA sin adornos: Perspectivas desde el interior de la industria.</h4>
                                    <h4>Francisco Manuel Valle Ruiz</h4>
                                    <h4 class="subheading">AI Architect, ENCORA</h4>
                                    <h4 class="subheading">Lunes 4 de noviembre</h4>
                                    <h4 class="subheading">11:00 a 12:00 horas</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Manuel Valle es un arquitecto de soluciones de Inteligencia Artificial con más de una década resolviendo desafíos complejos para empresas con millones de usuarios y petabytes de datos. Se especializa en diseñar sistemas de IA eficientes, escalables, seguros, y en conformidad con las normativas globales de distintas industrias.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Oscar.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>¿Qué hace diferente a un Venture Studio?</h4>h4>
                                    <h4>Oscar Medrano</h4>
                                    <h4 class="subheading">Growth Manager, Kolab Ventures</h4>
                                    <h4 class="subheading">Lunes 4 de noviembre</h4>
                                    <h4 class="subheading">18:00 a 19:00 horas</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Oscar Medrano cuenta con 20 años de experiencia en la creación y ejecución de estrategias de marketing, ventas y aceleración de negocios en México y Estados Unidos. 
Lidero el área de Growth en Kolab Ventures dando soporte a los fundadores en sus etapas de crecimiento con estrategias de marketing, ventas y desarrollo de su red de contactos con clientes potenciales.
⁠Member Board del proyecto global AI Salon. ⁠Startups Mentor en StartX de la Universidad de Stanford. ⁠Startups Mentor en JETRO (Gobierno de Japón). ⁠Community Builder en Hermosillo Innovation Hub Initiative.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Preet.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Lunes 4 de noviembre</h4>
                                    <h4>19:00 a 20:00 horas</h4>
                                    <h4 class="subheading">Preet Morato</h4>
                                    <h4 class="subheading">Product Manager, Kolab Ventures</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Abraham.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Martes 5 de noviembre</h4>
                                    <h4>11:00 a 12:00 horas</h4>
                                    <h4 class="subheading">Abraham Reyes</h4>
                                    <h4 class="subheading">Automation and AI Vision Engineer, TE Connectivity</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Marysol.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Matemáticas e Innovación: Mi experiencia personal en Desarrollos Tecnológicos y Patentes</h4>
                                    <h4>Martes 5 de noviembre</h4>
                                    <h4>18:00 a 19:00 horas</h4>
                                    <h4 class="subheading">Marysol Navarro</h4>
                                    <h4 class="subheading">Profesora Investigadora, Universidad de Sonora</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">En esta charla compartiré mi viaje personal desde los primeros pasos en el trabajo de vinculación entre matemáticas e Internet de las cosas (IoT), hasta el desarrollo de tecnologías patentadas en aplicaciones de innovación.
Hablaré sobre los desafíos y aprendizajes que he encontrado en el camino, incluyendo el proceso de transformar conceptos en desarrollos con protección intelectual, lo cual ha sido fundamental para la evolución de mis proyectos. También abordaré cómo la colaboración interdisciplinaria, especialmente entre matemáticos e ingenieros, ha impulsado el éxito de estos desarrollos tecnológicos.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Ivan.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>endencias, desafíos y oportunidades en el mercado de TI"</h4>
                                    <h4>Miércoles 6 de noviembre</h4>
                                    <h4>11:00 a 12:00 horas</h4>
                                    <h4 class="subheading">Ivan Nieves</h4>
                                    <h4 class="subheading">IT Recruiter, Intugo</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">IT Recruiter en Intugo México desde septiembre de 2021, aprovechando la experiencia de un puesto anterior como redactor publicitario en Kinitros.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Rodolfo.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Miércoles 6 de noviembre</h4>
                                    <h4>18:00 a 19:00</h4>
                                    <h4 class="subheading">Rodolfo Saldaña</h4>
                                    <h4 class="subheading">Managing Partner, Arkstem</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Francisco.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Miércoles 6 de noviembre</h4>
                                    <h4>19:00 a 20:00 horas</h4>
                                    <h4 class="subheading">Francisco Coss</h4>
                                    <h4 class="subheading">CEO, Orbitware</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Diana.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Jueves 7 de noviembre</h4>
                                    <h4>11:00 a 12:00</h4>
                                    <h4 class="subheading">Diana Ballesteros</h4>
                                    <h4 class="subheading">Directora General de Inteligencia de Datos, Gobierno del Estado de Sonora</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Mesa
                                    <br>de
                                    <br>Dialogo</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Jueves 7 de noviembre</h4>
                                    <h4>18:00 a 20:00 horas</h4>
                                    <h4 class="subheading">El impacto de la inteligencia artificial en tu trabajo</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
